@charset "UTF-8";

.hidden
{
	display: none;
}

#siteContainer
{
	max-width: 1200px;
	margin: 0 auto;
}

#hamMenu
{
	background-color: black;
	height: 30px;
	width: 40px;
	margin-left: auto;
}

#logo
{
	background-color: black;
	height: 140px;
	width: 140px;
	margin: 0 auto;
	margin-bottom: 10px;
}


#welcome
{
	background-color: black;
	height: 285px;
	display: block;
  	margin: 0 auto;
  	max-width: 1200px;
  	margin-bottom: 10px;
}

#prodBanner
{
	background-color: black;
	height: 25px;
	display: block;
	max-width: 1200px;
	margin-bottom: 10px;
}

#smallCon
{
	max-width: 300px;
	margin: 0 auto;
	padding: 0px 10px 0px 10px;
}
#meeting
{
	background-color: black;
	height: 175px;
	margin-bottom: 10px;
}

#map
{
	display: none;
}


#mainCon
{
  max-width: 1200px;
  color: #fff
}

.prod
{
  background-color: black;
  height: 200px; 
  margin: 20px;
}

.prodText

{
	background-color: black;
	height: 115px;
	margin: 20px;
}

@media screen and (min-width: 640px) {
  
  #products
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .prodHold
  {
    flex: 1 1 400px;
  }
}



@media screen and (min-width: 1200px){

#mainNav
{
	display: flex;
	flex-direction: row-reverse;
	
}

#logo
{
	margin-left: 0px;
}

#hamMenu
{
	width: 735px;
	height: 50px;
	margin-top: 40px;

}

#smallCon
{
	display: flex;
	flex-direction: row;
	max-width: 1200px;
	margin: 0 auto;
}

#mainCon
{
	margin: 0 auto;
}
#map
{
	display: block;
	background-color: black;
	width: 355px;
	height: 310px;
	margin-right: 40px;
	margin-left: 110px;
}

#meeting
{
	height: 310px;
	width: 595px;

}



}