@charset "utf-8";
/* CSS Document */



.hidden
{
	display: none;
}


/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }
  
/*switch box model*/
html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

/*Fix for scaling of images IE*/
img {
  -ms-interpolation-mode: bicubic; 
}

#siteContainer {
	margin: 0 auto;
}


#hamMenu
{
	background-color: black;
	height: 30px;
	width: 40px;
	margin-left: auto;
}

#logo
{
	background-color: black;
	height: 140px;
	width: 140px;
	margin: 0 auto;
	margin-bottom: 10px;
}


#welcome
{
	background-color: black;
	height: 285px;
	display: block;
  	margin: 0 auto;
  	max-width: 1200px;
  	margin-bottom: 10px;
}

#prodBanner
{
	background-color: black;
	height: 25px;
	display: block;
	max-width: 1200px;
	margin-bottom: 10px;
}

#prodCon
{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#meeting
{
	background-color: black;
	height: 175px;
	margin-bottom: 10px;
}

.prod {
	margin-left: 10px;
	margin-right: 10px;
}

.prodImg
{
	width: 300px;
	height: 195px;
	background-color: black;
	margin: 0 auto;
}

.prodText
{
	background-color: grey;
	width: 280px;
	height: 115px;
	margin: 0 auto;
	margin-bottom: 20px;
}

#products {
	width: 100%;
	padding: 10px;
}

@media screen and (min-width: 660px) {
	#prodCon {
		flex-wrap: wrap;
		flex-direction: row;
	}
}
